@media (max-width:600px) {
    

    /* .right-home img {
        position: absolute;
        right: 40px;
        z-index: 18;
        height: 10%;
        margin-right: 0px;
        animation: customAni 4s ease-in-out 0ms infinite normal none;
    }
     */
}