:root {
    --pricol: #f40776;
    --seccol: #f6c708;
    --textcol: #424141;
    --navicol: #676666;

}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Mukta&family=Roboto&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    text-decoration: none;

}


html,
body {
    height: 100%;
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
    scroll-behavior: none;
}


.main-container {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}


/* ---------------NAVBAR--------------------------- */

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #dadada;

}

.logo img {
    height: 120px;
    width: 130px;
    margin-left: 60px;
}

.bar {
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.bar .logsign {
    background-color: var(--pricol);
    padding: 8px 20px;
    border-radius: 25px;
    box-shadow: 0px 1px 5px;
    position: sticky;
}

.bar .logsign:hover,
.bar .logsign:hover a {
    background-color: #fff;
    color: var(--pricol);
}

.bar .logsign a {
    color: #fff;
}

nav ul,
#click {
    display: none;
}

#click:checked~ul {
    display: inline;
    position: fixed;
    text-align: center;
    right: 0px;
    top: 100px;
    min-width: 100vw;
    z-index: 99;
    padding: 40px 0;
    background-color: rgba(0, 0, 0, 0.619);
}

nav ul li {
    list-style: none;
    padding: 10px;
}

nav ul li a {
    margin: 30px;
    color: #fff;
}

nav ul li:hover,
nav ul li:hover a {
    background-color: var(--seccol);
    color: #000;
}

i {
    font-size: 25px;
    color: #000;
    margin-right: 15px;
    cursor: pointer;
}



/* -------------------CONTENT SECTION ------------------ */
#home {
    display: flex;
    margin-top: 130px;
    width: 100%;
    border-bottom: 1px solid #dadada;
}

.left-home {
    padding: 80px;
    width: 50%;
    z-index: 20;
    /* mix-blend-mode: difference; */
}

.left-home p {
    color: var(--textcol);
    width: 70%;
    font-weight: lighter;
    font-size: 3.3vmax;
    margin-left: 60px;
}

.left-home p span {
    color: var(--pricol);
}

.left-home div {
    margin-top: 30px;
    text-align: center;
    background-color: var(--pricol);
    padding: 8px;
    width: 200px;
    margin-left: 60px;
    border-radius: 20px;
    box-shadow: 0 1px 5px;
}

.left-home div a {
    color: #fff;
    font-size: 14px;
}

.left-home div:hover,
.left-home div:hover a {
    background-color: #fff;
    color: var(--pricol);
}

.right-home {
    width: 50%;
    position: relative;
}


.right-home img {
    position: absolute;
    right: 40px;
    z-index: 18;
    height: 100%;
    margin-right: 0px;
    animation: customAni 4s ease-in-out 0ms infinite normal none;
}

@keyframes customAni {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.03);
    }

    100% {
        transform: scale(1);
    }
}

/* ---------------------ABOUT  US--------------------- */

#about {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    position: relative;

}

.top-about,
.top-about i {
    color: var(--navicol);
    margin-top: 8vh;
    text-align: center;
}

.middle-about {
    padding: 30px 90px;
    display: flex;
    gap: 10vh;
}

.left-about {
    margin: 20px 60px;
}

.left-about img {
    height: 330px;
}

.right-about {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 40%;
}

.right-about h1 {
    letter-spacing: 0.5px;
    color: var(--textcol);
}

.right-about p {
    color: var(--textcol);
}

.bottom-about {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bottom-about span {
    color: var(--pricol);

}

.bottom-about div {
    margin-top: 30px;
    text-align: center;
    background-color: var(--pricol);
    padding: 8px;
    width: 200px;
    margin-left: 60px;
    border-radius: 20px;
    box-shadow: 0 1px 5px;
}

.bottom-about div a {
    color: #fff;
    font-size: 14px;
}

.bottom-about div:hover,
.bottom-about div:hover a {
    background-color: #fff;
    color: var(--pricol);
}

.steps {
    margin-top: 4vh;
    margin-bottom: 3vh;
    background-color: #ece8e6;
    padding: 6vh;
    /* height: 20vh; */
}

.steps h1 {
    color: var(--navicol);
    font-size: 1.4rem;
    margin:20px 0 ;
    box-sizing: border-box;
}
.steps-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3vh;
}

.card{
    text-align: center;
    padding: 10px;
    border: 2px solid #dadada;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 20%;
}
.card h1{
    color: #ce9caa;
    font-size:2.3rem ;
}



/* --------------------- Contact-Us -------------------- */
.contact-us{
    height: 100%;
}